<div class="row my-carousel-box">
  <div class="container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% @images.each_with_index do |image, idx| %>
          <% klass = idx==0 ? 'item active' : 'item' %>
          <div class="<%= "#{klass}" %>">
              <%= image_tag "tkc_web_15-#{image}.jpg"  %>
          </div>    
        <% end %> 
          <%# image_tag('/assets/web-banner-03.jpg') %>      
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
<!-- <div id="banner" class="bg1">
</div> -->

<div class="row commitee-message">
  <div class="container">
    <div class="col-lg-12 col-md-12  lead">
      <h3>Message from committee</h3>      
       <p>      
          <!--So now the <span class="highlight">"Christian," </span> is it more a -->
          <!--label in retrospect than a person whose life/conduct daily reflects all of Christ? -->
          <!--Is it an imaginary life merely preached at the pulpit yet impossible to practice or a lifestyle to -->
          <!--be experienced in heaven. What a bother,Mum, Dad, you show me, "Who is a Christian?" -->
          <!--For many other teenagers, the idea to be a Christian is unpopular, infamous and a -->
          <!--philosophical nonsense. -->
          Who is a <span>Christian</span> and what does it mean to be Christian?<br/>
Sometimes it seems it's just another label,an imaginary life preached from the pulpit yet impossible to practice or, 
maybe something we get to doing when we go to Heaven. But it's none of those things,
<span class="highlight">"The Kingdom of God is not just a lot of talk, it is living by God's power."</span>"(1Cor 4:20)
a real deal for here and now.
          <%= link_to "....read more", :purpose %>
      </p>
    </div>    
  </div>    
</div>
<div class="container">
  <div class="row testimonies">
    <div class="col-lg-12 col-md-12">
    <h3>Testimonies</h3>
  </div>
  <div class="col-lg-6 col-md-6 testimony">
    <div class="message">
      <div class="pull-left image">
        <%= image_tag('megan.jpg') %>
      </div>
        My first Teen Camp was in 2012. I was 13 years old with a whole lot of baggage. A close friend, a member of Ridge Church, introduced me to camp, and honestly, it saved my life. I thought God was a “Sunday thing” of some sorts. You know, pray before you sleep, pray before you eat and all those. My prayers were even the same. There was no relationship with God, it was all a routine. At Teen Camp I discovered that a life with God was just necessary, loving and just so nice and peaceful! I used to use foul language a lot, was disrespectful and had just been suspended from school. I learnt how to pray, how to ACTUALLY pray and talk to God, how to worship and how to feel free. I felt God speak to me for the first time and it was thrilling. Teen Camp was – and still is like – a home away from home. Like some sort of escape. I remember phones being prohibited from Camp and I was freaking out; I didn’t know how I would do five days with about five known friends around me, away from home and internet and all that, yet by the end of Camp I was actually sad and quite annoyed I was going home, because I was afraid that the peace I felt and the relationship with God that I come to would dissolve, and also being surrounded with like-minded people with a yearning for God, willing to teach you more, was comforting. I didn’t want to lose that or them. I still talk to some, and see them at Camp now. They are all so fun and they don’t judge you. Camp just exposes a new world to you. At home was weird - felt like I had just entered a new space, but everything I became at Camp didn’t (have to) die at home. You have a clearer vision. Things change, they do. It isn’t a one-time thing where you return home “holy” for a few weeks then go back to how you were. That’s all up to you, but it’s not even possible. When God lives inside you, you just feel better. So many things no longer matter to you, and the change is noticeable, reason my mum likes me to go to Camp. I love Camp so much. I adore my Camp family as well. You don’t feel so alone anymore, and that’s why I would recommend Camp to anyone at all. Anyone, from any walk of life, is welcome. I’m 16 years old now and have been to two Teen Camps, my relationship with God growing stronger and stronger, and my thirst to learn more just expanding. I can assure you, no one goes to Camp and doesn’t come back blessed. 

      <div class="name">Megan Freeman</div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 testimony">
    <div class="message">
    <div class="pull-left image">
        <%= image_tag('nicole.jpg') %>
      </div>
        Before teen camp, I had withdrawn from my relationship with God and hardly prayed or read my bible. Basically, I was asleep to God and in a way, I ignored Him. I didn't really listen to what He had to say. I was too focused on my problems, forgetting that He could solve them for me. I simply refused to let Him take the reigns from my hands although I told Him that He should have His way in my life.
So I went for teen camp with many burdens on my heart. I decided to write down everything troubling me. And then I made them my prayer topics. During the fasting period, I surrendered control to Him and I told Him that I'm giving up being in control of my life, and I had a talk with Him.
After camp, I found out that my relationship with Him had improved and one by one, everything I had written on that list was taken care of. My heart no longer felt heavy. I was still a bit worried concerning my university entry as I hadn't bought forms. So I spoke to Him about it. A week later, my aunt called to inform me that people were selling their forms so we went to the registry office. But the last form being resold had been bought. My dad left his phone number just in case another person was selling their forms and it seemed like there was no hope as the closing date was two days away and it was unlikely anyone would sell their forms. But I wasn't worried. The following day we got a call that a girl was selling her forms and we rushed to the office. We were able to fill the necessary requirements and my application had been sent. All this happened in the evening, a few hours left until they closed down the application website. And I got the course I had applied for.
I am so grateful to God because I know He was and is in charge of everything and He keeps on making ways for me. And although I faced so many storms, He gave me the faith, the heart and the strength to go through each one. Up till now. He is my Papa and I know He's got me covered.

      <div class="name">Nicole Lartey</div>
    </div>
  </div>  
  </div> 
  
</div> 

<script type="text/javascript" charset="utf-8">
  (function (){
    var ids = ['camper_email', 'confirm_email', 'camper_phone_number', 'confirm_phone_number'];

    var email = $("#"+ids[0]);
    var emailConfirm = $("#"+ids[1]);
    var phoneNumber = $("#"+ids[2]);
    var phoneNumberConfirm = $("#"+ids[3]);

    var errorBox = $("#errorBox");
    var ERR_MESSAGES = {
      EMAIL_BLANK: "Email cannot be blank",
      PHONE_NUMBER_BLANK: "Phone number cannot be blank",
      EMAIL: "Emails are not the same",
      PHONE_NUMBER: "Phone Numbers are not the same",
    }

    errorBox.hide();

    for(var i =0; i < ids.length; i++){
        var id = "#" + ids[i];
        $(id).bind('copy paste', function (e) {
           e.preventDefault();
        });
    }

    $("#register_button").on('click', function (e){
      errorBox.hide();
      function areEmailsTheSame(){
        return email.val() === emailConfirm.val();
      }

      function arePhoneNumbersTheSame(){
        return phoneNumber.val() === phoneNumberConfirm.val();
      }

      function showError(message){
        errorBox.find("#message").text(message);
        errorBox.show();
        e.preventDefault();
      }

      if($.trim(email.val()) === ""){
        showError(ERR_MESSAGES.EMAIL_BLANK)
        return false;
      }

      if($.trim(phoneNumber.val()) === ""){
        showError(ERR_MESSAGES.PHONE_NUMBER_BLANK)
        return false;
      }

      if(!areEmailsTheSame()){
        showError(ERR_MESSAGES.EMAIL);
        return false;
      }

      if(!arePhoneNumbersTheSame()){
        showError(ERR_MESSAGES.PHONE_NUMBER);
        return false;
      }

    })

  })();
</script>
